.change-password{
    padding: 20px;
    margin-top: 150px;
    background-color: rgb(177, 250, 250); 
    border-radius: 1rem;
}
input{
    margin-top: 15px;
    height: auto;
    border-radius: 2rem;
}
.btn{
    margin-top: 30px;
    border-radius: 5rem;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}
.layout{
    margin:10px;
}