<app-nav-bar-login></app-nav-bar-login>
<body class="text-center">
    <form [formGroup]="changePasswordForm"  id="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="layout row">
            <div class="change-password col-md-4 col-md-offset-4">
                <h3>Change Password</h3>
                <div class="row">
                    <div class="col-md-12  alert alert-success" *ngIf="passwordChanged">Password changed successfully!!</div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12  alert alert-danger" *ngIf="PasswordInvalid">Invalid Credentials</div>
                        <div class="col-md-12  alert alert-danger" *ngIf="changePasswordForm.controls.oldPassword.touched&&changePasswordForm.controls.oldPassword.errors?.required">Old Password is required.</div>
                        <input type="text" class="form-control" id="oldPassword"  formControlName="oldPassword" required placeholder="Old Password" autofocus>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12  alert alert-danger" *ngIf="invalidPassword">Passwords not matching!!</div>
                        <div class="col-md-12  alert alert-danger" *ngIf="changePasswordForm.controls.newPassword.touched&&changePasswordForm.controls.newPassword.errors?.required">New Password is required.</div>
                        <div class="col-md-12  alert alert-danger" *ngIf="changePasswordForm.controls.newPassword.touched&&changePasswordForm.controls.newPassword.invalid">Password should be minimum 6 charecters.</div>
                        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPass" formControlName="newPassword" required placeholder="New Password" (change)="checkNewPassword($event.target.value)">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12  alert alert-danger" *ngIf="changePasswordForm.controls.confirmPassword.touched&&changePasswordForm.controls.confirmPassword.errors?.required">Confirm Password is required.</div>
                        <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" required placeholder="Confirm Password" (change)="checkNewPassword($event.target.value)">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-success" *ngIf="!(changePasswordForm.invalid||invalidPassword)" type="submit">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>            
</body>
