<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <p class="navbar-brand" routerLink="/customer-dashboard">Bank Management System</p>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/apply-loan">Apply Loan</a></li>
          <li><a routerLink="/update-account">Update Account Details</a></li>
          <li><a routerLink="/change-password">Change Password</a></li>
          <li><a routerLink="/loan-details">View Loan Details</a></li>
          <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>